name: Deploy Kas Organisasi

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Google Auth
      uses: 'google-github-actions/auth@v2'
      with:
        credentials_json: '${{ secrets.GCP_SA_KEY }}'

    - name: Set up Cloud SDK
      uses: google-github-actions/setup-gcloud@v2

    - name: Authorize Docker
      run: gcloud auth configure-docker

    - name: Build and Push Container
      run: |-
        docker build -t gcr.io/${{ secrets.GCP_PROJECT_ID }}/kas-organisasi:${{ github.sha }} .
        docker push gcr.io/${{ secrets.GCP_PROJECT_ID }}/kas-organisasi:${{ github.sha }}

    - name: Deploy to Cloud Run
      run: |-
        gcloud run deploy kas-organisasi \
          --image gcr.io/${{ secrets.GCP_PROJECT_ID }}/kas-organisasi:${{ github.sha }} \
          --platform managed \
          --region asia-southeast2 \
          --allow-unauthenticated \
          --set-env-vars "APP_NAME=kas-organisasi,LOG_CHANNEL=stderr"